@model IEnumerable<EBlog.DAL.Models.BlogModel>
@{
    ViewData["Title"] = "All blogs List";
}

<div class="text-center">
    <h1 class="display-4">All blogs List</h1>
    <div class="row">
        @foreach (var blog in Model)
        {
            <div class="col-sm-4 col-md-3">
                <a href="/blog/@blog.BlogId"><h2>@blog.BlogHeader</h2></a>
                <div>@blog.BlogContent</div>
            </div>
        }
    </div>
</div>
